<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div class="navbar-head">
            <a class="navbar-brand" href="/projects">Project Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/projects">Users</a>
                </li>
            </ul>
            <a href="/logout"><button class="btn btn-outline-success sign-out my-2 my-sm-0">Sign out</button></a>
        </div>
    </div>
</nav>