<nav class="col-md-2 d-none d-md-block bg-light sidebar shadow-sm">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/projects/overview/<%= project.projectid %>">
                    Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects/activity/<%= project.projectid %>">
                    Activity
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects/members/<%= project.projectid %>">
                    Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects/issues/<%= project.projectid %>">
                    Issues
                </a>
            </li>
            
        </ul>

        
    </div>
</nav>